<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<link type="text/css" rel="stylesheet" href="./css/bootstrap.min.css" th:href="@{./css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="./css/main.css" th:href="@{./css/main.css}" />
    
</head>
<body>
	<div class="container">
	<div class="col-md-4" id="header" >
		<h1>Book Store</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4 signout" >
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="log out" class="btn btn-danger" />
		</form>
	</div>
    <table id="books" class="table table-striped">
		<tr>
		    <th>Author</th>
		    <th>Title</th>
		    <th>ISBN</th>
		    <th>Year</th>
		    <th>Price</th>
		    <th>Category</th>
		    <th sec:authorize="hasRole('ADMIN')"></th>
		    <th sec:authorize="hasRole('ADMIN')"> </th>
		      
		</tr>  
    	<tr th:each = "book : ${books}">
    		<td th:text="${book.author}"></td>
    		<td th:text="${book.title}"></td>
    		<td th:text="${book.isbn}"></td>
       		<td th:text="${book.year}"></td>
       		<td th:text="${book.price}"></td>
       		<td th:text="${book.category.name}"></td> 		
       		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}"><button  class="btn btn-danger">Delete</button></a></td>
       		<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${book.id})}"><button  class="btn btn-success">Edit</button></a></td>
    	</tr>
     </table>
     <a href="/add" ><button class="btn btn-success">Add Book</button></a>    	
     
     </div>
</body>
</html>